.pokemon-list {
  list-style: none;
}

.pokemon-list li {
  position: relative;
}

.pokemon-list li::before {
  content: url('../img/pokemonlistbuttonlogo.svg');
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 10px;
  margin-right: 10px;
} */


@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 90%;
    max-width: 90%;
    left: 5%;
  }
}

.modal-content {
  border:15px solid;
  border-color: #FFC249;
}

img.modal-img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  height: 200px;
  border: 10px solid;
  border-color: #FFC249;
  border-radius: 3px;
  box-shadow: 2px 5px #111111;
  background-image: url("../img/pokemoncardbackground.jpg");
  background-size: contain;
}

.modal-title {
  color: white;
}
div.modal-header {
  /* background-image:linear-gradient(to bottom right, #012244, #430022); */
}

.modal-body {
  background-color: ;
}

p {
  background-color: #FFC249;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 2px 5px #111111;
}

div.modal-footer {
  /* background-image:linear-gradient(to bottom right, #430022, #012244); */
}

.modal-content {
  background-image:linear-gradient(to bottom right, #012244, #430022);
}

span {
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
}
